 @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Montserrat:wght@300;400;500;600;700&display=swap'); 
*{
	padding: 0;
	margin: 0;
	font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;

}
.hi{
	position: relative;
	margin-left: 25px;
	text-decoration: none;
}
.h{
	background: #FF7459;
	position: static;
	margin-right: 50px;
	color: white;
	align-items: ;
	text-decoration: none;

}
.h:hover{
	color: white;
}
.navbar-item{
	text-decoration: none;
}
.jh{
	padding: 5px;
	font-size: 25px;
	margin:5px;
	text-decoration: none;
}
.jh:hover{
	    transform: translateX(3px);
	transition: all .4s ease-out;
	color: white;
}
.c{
	margin: 15px;
}













.hero_img{

position: absolute;
width: 500px;
height: 500px;
left: 0px;
top: 0px;
background-size: cover;
background-image: url("../Img/1.jpg");

}
.hero_txt{


position: absolute;
font-family: 'M PLUS 1';
font-style: normal;
top: 15px;
font-weight: 500;
font-size: 25px;
line-height: 25px;
/* or 100% */

display: flex;
align-items: center;
letter-spacing: 0.03em;

/*color: #E91138;*/

opacity: 0.9;
}
span{
	color: #E91138;
}
.p_txt{
	position: absolute;
width: 446px;
height: 140px;
left: 3px;
top: 120%;

font-family: 'M PLUS 1';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* or 160% */

letter-spacing: 0.01em;

color: #79848F;
}
.hh{
	background: #FF7459;
	position: absolute;
	margin-right: 50px;
	color: white;
/*	align-items: fixed;*/
	text-decoration: none;
	top: 450px;
	bottom: 100px;

}
.hh:hover{
	color: white;
}




.right{

position: absolute;
margin-left: 50px;
width: 240px;
height: 200px;
left: 0px;
top: 120%;
bottom: 100px;
/*margin-right: -10px;*/
display: flex;
color: white;
background: #104820;
}
.left{
	
position: absolute;
margin-left: 295px;
width: 240px;
height: 200px;
left: 0px;
top: 120%;
bottom: 100px;
display: flex;
color: black;
background: #81D37F;	
}
.middle{
	
position: absolute;
margin-left: 540px;
width: 240px;
height: 200px;
left: 0px;
top: 120%;
bottom: 100px;
display: flex;
color: black;
background: #81D37F;	
}
.middle-centre{

position: absolute;
margin-left: 785px;
width: 240px;
height: 200px;
left: 0px;
top: 120%;
bottom: 100px;
display: flex;
color: black;
background: #81D37F;	
}
.left-centre{

position: absolute;
margin-left: 1030px;
width: 240px;
height: 200px;
left: 0px;
top: 120%;
bottom: 100px;
display: flex;
color: black;
background: #81D37F;
}


.right_txt{
		position: absolute;
width: 148px;
height: 104px;
left: 30px;
top: 60px;

font-family: 'M PLUS 1';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;

}
.left_icon{
	
position: absolute;
left: 80px;
top: 30px;	
}
.left_p{

position: absolute;
width: 161px;
height: 30px;
top: 80px;
font-family: 'M PLUS 1';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
margin-right: -20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;
left: -30px;
color: #000000;
}
.middle_p{
	position: absolute;
width: 156px;
height: 41px;
left: 0px;
top: 80px;
left: -45px;
font-family: 'M PLUS 1';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 17px;
text-align: center;
letter-spacing: -0.04em;
color: #000000;

}
.hero_2{
	display: flex;
	position: absolute;
	top: 170%;
	text-align: center;
	left: 10px;
	margin-left: 10px;
}