 @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Montserrat:wght@300;400;500;600;700&display=swap'); 
*{
	padding: 0;
	margin: 0;
	font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
}
.hi{
	position: static;
	margin-left: 25px;
}
.h{
	background: #FF7459;
	position: static;
	margin-right: 50px;
	color: white;
	align-items: fixed;

}
.h:hover{
	color: white;
}
.jh{
	padding: 5px;
	font-size: 22px;
}
.jh:hover{
	    transform: translateX(3px);
	transition: all .4s ease-out;
	color: white;
}
.c{
	margin: 15px;
}